<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container-fluid page">
        <h2>MULTIPLICATION TABLES (1 - 20)</h2>
        <p><span class="label label-success"> By Eswara Pavan Prasad for Abhi & Anoop</span></p>
        <table>
            <tr>
                <td *ngFor="let n of noOfTables | slice:0:10">
                    <div class="panel panel-primary panel-right">
                        <div class="panel-heading">TABLE  <span class="badge">{{n}}</span></div>
                        <div class="panel-body">
                            <table>
                                <tr *ngFor="let m of tableUpTo">
                                    {{n}} X {{m}} = {{n*m}}
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td *ngFor="let n of noOfTables | slice:10;">
                    <div class="panel panel-primary panel-right">
                        <div class="panel-heading">TABLE  <span class="badge">{{n}}</span></div>
                        <div class="panel-body">
                            <table>
                                <tr *ngFor="let m of tableUpTo">
                                    {{n}} X {{m}} = {{n*m}}
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>

</body>
</html>